{
  "branches": ["main"],
  "tagFormat": "${version}",
  "plugins": [
    [
      "@semantic-release/commit-analyzer",
      {
        "preset": "eslint",
        "releaseRules": [
          {
            "tag": "Breaking",
            "release": "major"
          },
          {
            "tag": "New",
            "release": "minor"
          },
          {
            "tag": "Fix",
            "release": "patch"
          },
          {
            "tag": "Build",
            "release": "patch"
          },
          {
            "tag": "Chore",
            "release": "patch"
          },
          {
            "tag": "Upgrade",
            "release": "patch"
          }
        ]
      }
    ],
    [
      "@semantic-release/release-notes-generator", 
      {
        "preset": "eslint",
        "writerOpts": {
          "commitsSort": ["subject", "scope"]
        }
      }
    ],
    [
      "@semantic-release/npm", 
      {
        "npmPublish": true
      }
    ],
    [
      "@semantic-release/changelog",
      {
        "changelogFile": "CHANGELOG.md"
      }
    ],
    "@semantic-release/github"
  ]
}